<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hrSys</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>hello</description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.HelloAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/action/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDomainL1Action</display-name>
    <servlet-name>GetDomainL1Action</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.meta.meta.GetDomainL1Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDomainL1Action</servlet-name>
    <url-pattern>/get/d1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDomainL2Action</display-name>
    <servlet-name>GetDomainL2Action</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.meta.GetDomainL2Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDomainL2Action</servlet-name>
    <url-pattern>/get/d2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDomainL3Action</display-name>
    <servlet-name>GetDomainL3Action</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.meta.GetDomainL3Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDomainL3Action</servlet-name>
    <url-pattern>/get/d3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRoleAction</display-name>
    <servlet-name>GetRoleAction</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.meta.GetRoleAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRoleAction</servlet-name>
    <url-pattern>/get/role</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLevelAction</display-name>
    <servlet-name>GetLevelAction</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.meta.GetLevelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLevelAction</servlet-name>
    <url-pattern>/get/level</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCheckinAction</display-name>
    <servlet-name>GetCheckinAction</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.data.GetCheckinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheckinAction</servlet-name>
    <url-pattern>/get/checkin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCheckoutAction</display-name>
    <servlet-name>GetCheckoutAction</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.data.GetCheckoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCheckoutAction</servlet-name>
    <url-pattern>/get/checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStaffAction</display-name>
    <servlet-name>GetStaffAction</servlet-name>
    <servlet-class>com.ooobgy.action.ajax.data.GetStaffAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStaffAction</servlet-name>
    <url-pattern>/get/staff</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ooobgy.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>