<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <filter>
  <filter-name>characterencodingfilter</filter-name>
  <filter-class>com.ooobgy.ifnote.filters.CharacterEncodingFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>characterencodingfilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>3</param-value>
  </init-param>
  <init-param>
   <param-name>detail</param-name>
   <param-value>3</param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <description>make radom code</description>
  <display-name>RandomCode</display-name>
  <servlet-name>ConfirmationCode</servlet-name>
  <servlet-class>com.ooobgy.util.confirmcode.ConfirmationCodeServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
  <servlet>
  <description>make pie chart</description>
  <display-name>PieChart</display-name>
  <servlet-name>PieChart</servlet-name>
  <servlet-class>com.ooobgy.ifnote.utilservlet.PieChartServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>logoutserver</servlet-name>
  <servlet-class>com.ooobgy.ifnote.utilservlet.LogoutServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ConfirmationCode</servlet-name>
  <url-pattern>*.ConfirmationCode</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
  <servlet-name>PieChart</servlet-name>
  <url-pattern>*.PieChart</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>logoutserver</servlet-name>
  <url-pattern>*.logout</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>home/home.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/error/error.html</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/error/error.html</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
